<header class="border-bottom">
	<h1>MarksBench - v 1.0.0</h1>

	<div>
		<button
			*ngFor="let dataFormat of dataFormats"
			class="data-format-switch"
			(click)="changeSelectedFormat(dataFormat)"
			[class.active]="selectedDataFormat === dataFormat"
		>
			{{ dataFormat }}
		</button>
	</div>

	<div class="header-menu">
		<app-mdicon [path]="mdiTrashCanOutline"></app-mdicon>
		<app-mdicon [path]="mdiGithub"></app-mdicon>
		<app-mdicon [path]="mdiHelpCircleOutline"></app-mdicon>
	</div>
</header>
