header {
	display: flex;
	align-items: center;

	padding: var(--padding-md) var(--padding-sm);
}

h1 {
	font-size: var(--font-md);
	font-weight: var(--font-bold);
	margin: 0 {
		right: auto;
	}
}

.data-format-switch {
	background-color: transparent;
	border: none;
	font-family: Roboto;

	cursor: pointer;
	transition: 0.2s all ease-in;

	&:not(:last-child) {
		margin-right: 5px;
	}

	&:hover {
		color: var(--clr-blue-900);
	}

	&.active {
		color: var(--clr-blue-600);
	}
}

.header-menu {
	display: flex;

	> div {
		display: flex;
		align-items: center;
	}
}