<footer class="border-top">
	<div class="authors">
		<span>Made with</span>
		<app-mdicon
			[path]="mdiCardsHeart"
			height="16px"
			width="16px"
			svgClass="heart-icon"
		>
		</app-mdicon>
		<span style="margin-right: 0.1rem">by</span>
		<a
			href="https://github.com/HasanMothaffar"
			title="Hasan Mothaffar's account on Github"
			> Hasan Mothaffar</a
		>
		<span>&</span>
		<a
			href="https://github.com/Rami-Sabbagh"
			title="Rami Sabbagh's account on Github"
			>Rami Sabbagh</a
		>
	</div>

	<div></div>
</footer>
