.document-row {
	display: flex;
	justify-content: space-between;

	padding: var(--padding-sm);
}

.document-status {
	display: flex;
	align-items: center;
}

h2 {
	font-size: var(--font-md);
	font-weight: var(--font-medium);

	display: flex;
	align-items: center;

	margin: 0;

	svg {
		margin-right: 0.5rem;
	}
}